@import 'tailwindcss';

@theme {
  --font-family-base: 'Public Sans', monospace;
  --font-family-heading: 'Source Serif 4', monospace;

  --color-black-500: #212121;
  --color-white-500: #fff;
  --color-grey-100: #efefef;
  --color-grey-200: #e1e1e1;
  --color-grey-300: #7a7a7a;
  --color-grey-600: #4d4d4d;

  /* Accent */
  --color-blue-500: #005f9e;
}

@layer base {
  html {
    min-height: 100%;
    overflow-x: clip;
    -webkit-text-size-adjust: 100%;
  }

  body {
    background-color: var(--color-white);
    box-sizing: border-box;
    color: var(--color-gray-600);
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: var(--color-black);
    text-decoration: underline;
    transition: 0.2s color ease-in-out;

    &:focus,
    &:hover {
      color: var(--color-blue-500);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-black);
    line-height: 1.15;
    font-weight: 500;
    /* letter-spacing: 5px; */
  }

  h1 {
    font-size: clamp(2.5rem, 2.75rem + 2vw, 3rem);
  }

  h2 {
    font-size: clamp(2rem, 2rem + 1.5vw, 2.5rem);
  }

  h3 {
    font-size: clamp(1.75rem, 1.75rem + 1.25vw, 2rem);
  }

  h4 {
    font-size: clamp(1.5rem, 1.25rem + 1vw, 1.5rem);
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

@layer components {
  .button {
    @apply inline-flex justify-center gap-2 text-sm uppercase font-medium no-underline p-3 min-w-40;

    letter-spacing: 5px;
  }

  .button-outline {
    @apply inline-flex justify-center gap-2 text-sm uppercase font-medium no-underline py-3 px-4 min-w-40 border border-black-500 hover:border-blue-500;

    letter-spacing: 5px;
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-family-heading);
  }

  .eyebrow {
    @apply text-xs uppercase tracking-wider font-medium;
  }

  .eyebrow-lg {
    @apply text-sm uppercase tracking-wider font-medium;
  }

  .box-shadow {
    &:hover {
      box-shadow: 0 0 30px var(--color-grey-200);
    }
  }
}

.portable-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-5;
  }

  p {
    @apply mb-4;

    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      @apply pt-5;
    }
  }

  ul,
  ol {
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      @apply pt-5;
    }
  }
}
